doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Login
        link(rel="stylesheet", href="login/css")
    body 
        form(action="/", method="post")
            div(class="loginDiv")
                div 
                    span(class="danger") #{message}
                div    
                label Email: #[input(type='text', name='email' required)] 
                br
                label Password: #[input(type='password', name ='password' required)]
                br
                button(type="submit") Submit
            div
                small  Note: Default username and password is [ Admin@gmail.com || 1234 ]